body {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #777777;
    background-color: #14182a;
}


/*====Normal Css Start====*/

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-bottom: 0;
    font-family: inherit;
    font-weight: 600;
    line-height: 1.2;
    color: #3bc8e7;
}

a {
    color: #3bc8e7;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

a:hover {
    text-decoration: none;
}

a:focus,
button:focus {
    outline: none;
}