body {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif !important;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #777777 !important;
    background-color: #14182a !important;
}


/*====Normal Css Start====*/

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-bottom: 0;
    font-family: inherit;
    font-weight: 600;
    line-height: 1.2;
    color: #3bc8e7;
}

a {
    color: #3bc8e7;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

a:hover {
    text-decoration: none;
}

a:focus,
button:focus {
    outline: none;
}

header {
    background-color: #1b2039 !important;
    color: #fff;
}


/* #list_router a:hover,
#list_router a:active {
    background-color: #2cc8e5;
    background-position: 0px 0px;
    color: #ffffff;
} */

.color_fff {
    color: #fff !important;
}

.navigate {
    margin: 0;
    color: white !important;
    background: #14182a !important;
    position: fixed;
}

.color {
    font-family: "Josefin Sans", sans-serif !important;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: white !important;
}

a:hover {
    text-decoration: none;
}

.sidebar {
    padding: 0px;
    width: 100% - 200px;
    background-color: #1b2039;
    position: fixed;
}

header {
    background-color: #1b2039 !important;
    color: #fff;
}

#nav_css {
    position: fixed;
}


/* #list_router a:hover,
#list_router a:active {
    background-color: #2cc8e5;
    background-position: 0px 0px;
    color: #ffffff;
} */

.color_fff {
    color: #fff !important;
}

.navigate {
    margin: 0;
    color: white !important;
    background: #14182a !important;
    position: fixed;
}

.color {
    font-family: "Josefin Sans", sans-serif !important;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: white !important;
}

a:hover {
    text-decoration: none;
}

.sidebar {
    padding: 0px;
    width: 100% - 200px;
    background-color: #1b2039;
    position: fixed;
}

#list_router a.v-list-item--active,
.ms_nav_wrapper ul a.v-list-item--active:after {
    background-color: #2cc8e5 !important;
}

#list_router a.v-list-item--active li a span.nav_icon>span {
    color: #fff;
}

.ms_nav_wrapper ul a:hover {
    background-color: #2cc8e5;
    background-position: 0px 0px;
    color: #ffffff;
}


/* .ms_nav_wrapper ul a:hover:after,
.ms_nav_wrapper ul a.v-list-item--active:after {
    background-color: #3bc8e7;
} */

.a_control {
    height: 100%;
}

.sidebar .search_header {
    max-width: 100%;
    position: relative;
    display: flex;
    display: inline-block;
    width: 100%;
    float: left;
}

.sidebar .search_header .form-control {
    display: inline-block;
    height: 40px;
    padding: 0px 20px;
    font-size: 15px;
    line-height: 45px;
    color: #777;
    border: none;
    border-radius: 5px;
}